<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <h2>Artists</h2>
    
    <% artists.forEach(function(artist){ %>
      <div>
        <div><label>artist ID: <output><%= artist.artistID %></output></label></div>
        <div><label>artist name: <output><%= artist.name %></output></label></div>
        <div><label>artist style: <output><%= artist.style %></output></label></div>
      </div>
      <hr>
    <% }); %>

    <footer>
      <div> Made by Yuting</div>
    </footer>
  </body>
</html>
